<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>VallyTool</title>
    <link rel="stylesheet" href="styles/reset.css">
    <style>
        .botoes-menu li:nth-child(3){
            width: 150px;
        }
    </style>
	<link rel="stylesheet" href="styles/prof_sop.css">
    <link rel="stylesheet" href="styles/professor.css">
</head>
<body>
    <header th:replace="common/base::cabecalho_logado"></header>
    <div class="main">
        <div class="tela">
        	<div sec:authorize="hasRole('PROFESSOR')" th:replace="common/base::menu_prof"></div>
            <div sec:authorize="hasRole('SOP')" th:replace="common/base::menu_sop"></div>
            <div class="aba">
                
            </div>
        </div>
    </div>
</body>
<script src="modules/menu.js"></script>
</html>