<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/reset.css">
	<title>VallyTool</title>
	<style>
		.botoes-menu li:nth-child(1) {
			width: 150px;
		}
	</style>
	<link rel="stylesheet" href="styles/prof_sop.css">
	<link rel="stylesheet" href="styles/professor.css" sec:authorize="hasRole('PROFESSOR')">
	<link rel="stylesheet" href="styles/sop.css" sec:authorize="hasRole('SOP')">
</head>

<!-- PROFESSOR -->

<body>
	<header sec:authorize="isAuthenticated()" th:replace="common/base::cabecalho_logado"></header>
	<div sec:authorize="hasRole('PROFESSOR')" class="main">
		<div class="tela">
			<div th:replace="common/base::menu_prof"></div>
			<div class="aba">
				<div>
					<h1>Bem-Vindo ao VallyTool</h1>
					<p>Comece já a avaliar suas turmas</p>
					<a href="/avaliar"><button class="avaliar-turma-botao">Avaliar Turmas</button></a>
					<ul class="turmas-nao-avaliadas"></ul>
				</div>
				<footer>
					<strong>3º Trimestre</strong>
				</footer>
			</div>
		</div>
	</div>
	<!-- SOP -->
	<div class="main" sec:authorize="hasRole('SOP')">
		<div class="tela">
			<div th:replace="common/base::menu_sop"></div>
			<div class="aba">
				<form class="pesquisar-form">
					<input type="text" placeholder="Buscar Usuário">
					<button class="pesquisar-botao"></button>
				</form>
				<div class="lista-div">
					<div class="item-div">
						Novo Usuário
					</div>
					<div class="item-div">
						<span class="nome">João Fragoso</span>
						<span class="cargo">Prof</span>
						<button class="editar" onclick="abrirTela('')"></button>
					</div>
				</div>
				<button class="botao-cadastrar" onclick="abrirTela('')">Cadastrar Usuário</button>
			</div>
		</div>
	</div>
</body>
<script src="modules/menu.js"></script>
</html>