<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/reset.css">
	<title>VallyTool</title>
	<style>
		.botoes-menu li:nth-child(1) {
			width: 150px;
		}

		.aba {
			display: grid;
			grid-template-rows: auto 30px;
			padding: 15px;
			text-align: center;
		}

		.aba h1 {
			font-size: 24px;
			margin-bottom: 10px;
		}

		.avaliar-turma-botao {
			background-color: rgb(12, 144, 240);
			width: 140px;
			height: 40px;
			border: 1px solid rgb(209, 209, 209);
			border-radius: 4px;
			color: white;
			font-size: 15px;
			margin-top: 40px;
			cursor: pointer;
		}

		.avaliar-turma-botao:hover {
			background-color: rgb(11, 134, 221);
		}

		.aba footer {
			text-align: center;
		}
	</style>
	<link rel="stylesheet" href="styles/professor.css">
</head>

<!-- PROFESSOR -->

<body>
	<header sec:authorize="isAuthenticated()">
		<div class="menu-div">
			<button class="menu-botao" onclick="abrirMenu()"></button>
		</div>
		<div class="logo-div">
			<img src="images/vallytool-logo.png" alt="vallytool-logo" class="vallytool-logo">
			<h1 class="titulo-logo">VallyTool</h1>
		</div>
		<div class="botoes-div">
			<button class="tema-botao"></button>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="sair-botao"></button>
			</form>
		</div>
	</header>
	<div sec:authorize="hasRole('PROFESSOR')" class="main">
		<div class="tela">
			<div class="menu-extendido-div" id="menu-extendido-div">
				<div class="usuario-div">
					<div class="usuario-imagem-div">
						<img class="usuario-imagem" src="images/user-solid.svg" alt="usuario">
					</div>
					<div class="nome"><span sec:authentication="name">Sunda</span><br><span
							class="cargo">Professor</span></div>
					<hr>
				</div>
				<nav>
					<ul class="botoes-menu">
						<li><a href="/professor"><span>Início</span></a></li>
						<li><a href="/avaliar"><span>Avaliar Turmas</span></a></li>
						<li><a href="/configuracoes"><span>Configurações</span></a></li>
					</ul>
				</nav>
			</div>
			<div class="aba">
				<div>
					<h1>Bem-Vindo ao VallyTool</h1>
					<p>Comece já a avaliar suas turmas</p>
					<a href="/avaliar"><button class="avaliar-turma-botao">Avaliar Turmas</button></a>
					<ul class="turmas-nao-avaliadas"></ul>
				</div>
				<footer>
					<strong>3º Trimestre</strong>
				</footer>
			</div>
		</div>
	</div>
	<!-- SOP -->
	<header sec:authorize="hasRole('SOP')">
		<div class="header-intodrucao">
			<h1>Bem-Vindo</h1>
		</div>
		<div class="header-buttons">
			<button>Usuários</button>
			<button>Turmas</button>
			<button>Resultados</button>
		</div>
		<div class="header-rodape">
			<button>Sair</button>
			<img src="jk-logo" alt="">
			<span>&copy;VallyTool</span>
		</div>
	</header>

	<div class="tela" sec:authorize="hasRole('SOP')">
		<div class="aba-usuario">
			<form action="" method="post">
				<input type="text" name="usuario" placeholder="Buscar Usuário">
				<input type="submit" value="">
			</form>
			<button><img src="./images/plus-solid.svg" alt=""></button>
			<div id="lista-usuarios"></div>

			<div class="criar-usuario">
				<button><img src="./images/xmark-solid.svg" alt=""></button>
				<form action="" method="post">
					<label>Nome</label>
					<input type="text" name="nome">
					<label>CPF</label>
					<input type="text" name="cpf">
					<label>Email</label>
					<input type="text" name="senha">
					<label>Cargo</label>
					<select name="cargo">
						<option value="PROFESSOR">Professor</option>
						<option value="SOP">SOP</option>
					</select>
					<input type="submit" value="Criar Usuário">
				</form>
			</div>

			<div class="editar-usuario">
				<button><img src="./images/xmark-solid.svg" alt=""></button>
				<button><img src="./images/database-solid.svg" alt=""></button>
				<button><img src="./images/link-solid.svg" alt=""></button>

				<div class="dados">
					<form action="">
						<label>Nome</label>
						<input type="text" name="nome">
						<label>Email</label>
						<input type="text" name="senha">
						<label>Cargo</label>
						<select name="cargo">
							<option value="PROFESSOR">Professor</option>
							<option value="SOP">SOP</option>
						</select>
						<input type="submit" value="Salvar">
					</form>
				</div>

				<div class="vinculos">
					<form action="" method="post">
						<select name="turma" id="turmas"></select>
						<select name="materia" id="materias"></select>
						<button><img src="./images/plus-solid.svg" alt=""></button>
					</form>
					<div id="lista-vinculos"></div>
				</div>
			</div>
		</div>

		<div class="aba-turmas">
			<form action="" method="post">
				<input type="text" name="turma" placeholder="Buscar Turma">
				<input type="submit" value="">
			</form>
			<form action="" method="post">
				<input type="text">
				<button><img src="./images/plus-solid.svg" alt=""></button>
			</form>
			<div class="disciplinas">
				<button><img src="./images/xmark-solid.svg" alt=""></button>
				<div>
					<h2 class="turma"></h2>
				</div>
				<h2>Disciplinas</h2>
				<form action="" method="post">
					<input type="text">
					<button><img src="./images/plus-solid.svg" alt=""></button>
				</form>
				<div class="lista-disciplinas"></div>
			</div>
		</div>

		<div class="aba-resultados">
			<button>Gerar PDF</button>
			<div class="lista-turmas"></div>

			<div class="historico">
				<button><img src="./images/xmark-solid.svg" alt=""></button>
				<div>
					<h2 class="turma"></h2>
				</div>
				<div class="anos"></div>
			</div>
		</div>
	</div>
</body>
<script>
	function abrirMenu() {
		let abaMenu = document.getElementById("menu-extendido-div");
		let abaMenuDisplay = abaMenu.style.display;

		if (abaMenuDisplay === "") {
			abaMenu.style.display = "grid";
		} else {abaMenu.style.display = "";}
	}
</script>

</html>