<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VallyTool</title>
</head>
<body>
    <header class="header">
        <img th:src="@{/images/vallytool-logo.png}" alt="VallyTool Logo" class="vallytool-logo">
        <h1>VallyTool</h1>
    </header>
    <div class="main">
        <form th:action="@{/login}" method="post" class="login">
            <div class="dados">
                <div>
                    <label for="input-cpf">CPF</label>
                    <input type="text" name="username" id="input-cpf" autocomplete="username" maxlength="14" required>
                </div>
                <div>
                    <div class="senha-div">
                        <label for="input-senha">Senha</label>
                        <a href="redefinir_senha.html" class="redefinir-senha">Esqueci a senha</a>
                    </div>
                    <input type="password" name="password" id="input-senha" autocomplete="current-password" maxlength="8" required>
                </div>
            </div>
            <div class="botao-div">
                <input type="submit" value="Entrar">
            </div>
        </form>
    </div>
    <footer>
        <strong>&copy;VallyTool</strong>
    </footer>
</body>
<script src="./modules/script.js"></script>
</html>