<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>VallyTool</title>
</head>
<body>
    <header class="header">
        <img th:src="@{/images/jk-logo.png}" alt="Logo Jk">
        <img th:src="@{/images/faetec.png}" alt="Faetec">
    </header>
    <div class="">
        <div class="inserir-cpf">
            <p>Nós te enviaremos um email de redefinição de senha</p>
            <form action="" method="post">
                <label>Cpf</label>
                <input type="text" name="cpf" id="input-cpf">
                <input type="submit" value="Enviar Email">
            </form>
        </div>
        <div class="email-enviado">
            <p>Email enviado para <br> {email}</p>
            <img th:src="@{/images/check-solid.svg}" alt="">
        </div>
    </div>
    <footer>
        <strong>&copy;VallyTool</strong>
    </footer>
</body>
<script src="./modules/script.js"></script>
</html>