<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>VallyTool</title>
    <link rel="stylesheet" href="./styles/reset.css">
</head>
<body>
    <header>
        <div class="header-intodrucao">
            <h1>Bem-Vindo</h1>
        </div>
        <div class="header-buttons">
            <button>Usuários</button>
            <button>Turmas</button>
            <button>Resultados</button>
        </div>
        <div class="header-rodape">
            <button>Sair</button>
            <img src="jk-logo" alt="">
            <span>&copy;VallyTool</span>
        </div>
    </header>

    <div class="tela">
        <div class="aba-usuario">
            <form action="" method="post">
                <input type="text" name="usuario" placeholder="Buscar Usuário">
                <input type="submit" value="">
            </form>
            <button><img src="./images/plus-solid.svg" alt=""></button>
            <div id="lista-usuarios"></div>

            <div class="criar-usuario">
                <button><img src="./images/xmark-solid.svg" alt=""></button>
                <form action="" method="post">
                    <label>Nome</label>
                    <input type="text" name="nome">
                    <label>CPF</label>
                    <input type="text" name="cpf">
                    <label>Email</label>
                    <input type="text" name="senha">
                    <label>Cargo</label>
                    <select name="cargo">
                        <option value="PROFESSOR">Professor</option>
                        <option value="SOP">SOP</option>
                    </select>
                    <input type="submit" value="Criar Usuário">
                </form>
            </div>

            <div class="editar-usuario">
                <button><img src="./images/xmark-solid.svg" alt=""></button>
                <button><img src="./images/database-solid.svg" alt=""></button>
                <button><img src="./images/link-solid.svg" alt=""></button>

                <div class="dados">
                    <form action="">
                        <label>Nome</label>
                        <input type="text" name="nome">
                        <label>Email</label>
                        <input type="text" name="senha">
                        <label>Cargo</label>
                        <select name="cargo">
                            <option value="PROFESSOR">Professor</option>
                            <option value="SOP">SOP</option>
                        </select>
                        <input type="submit" value="Salvar">
                    </form>
                </div>

                <div class="vinculos">
                    <form action="" method="post">
                        <select name="turma" id="turmas"></select>
                        <select name="materia" id="materias"></select>
                        <button><img src="./images/plus-solid.svg" alt=""></button>
                    </form>
                    <div id="lista-vinculos"></div>
                </div>
            </div>
        </div>

        <div class="aba-turmas">
            <form action="" method="post">
                <input type="text" name="turma" placeholder="Buscar Turma">
                <input type="submit" value="">
            </form>
            <form action="" method="post">
                <input type="text">
                <button><img src="./images/plus-solid.svg" alt=""></button>
            </form>
            <div class="disciplinas">
                <button><img src="./images/xmark-solid.svg" alt=""></button>
                <div>
                    <h2 class="turma"></h2>
                </div>
                <h2>Disciplinas</h2>
                <form action="" method="post">
                    <input type="text">
                    <button><img src="./images/plus-solid.svg" alt=""></button>
                </form>
                <div class="lista-disciplinas"></div>
            </div>
        </div>

        <div class="aba-resultados">
            <button>Gerar PDF</button>
            <div class="lista-turmas"></div>
            
            <div class="historico">
                <button><img src="./images/xmark-solid.svg" alt=""></button>
                <div>
                    <h2 class="turma"></h2>
                </div>
                <div class="anos"></div>
            </div>
        </div>
    </div>
</body>
</html>