<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/reset.css">
	<title>VallyTool</title>
	<link rel="stylesheet" href="styles/prof_sop.css">
	<link rel="stylesheet" href="styles/sop.css">
	<style>
		.botoes-menu li:nth-child(2) {
			width: 150px;
		}

		.item-div {
			position: relative;
			grid-template-columns: auto max-content max-content;
			column-gap: 10px;
		}
		.item-div .historico-botao {
			background: transparent url(../images/folder-solid.svg) no-repeat center;
		}
	</style>
</head>
<body>
	<header th:replace="common/base::cabecalho_logado"></header>
	<div class="main">
		<div class="tela">
			<div th:replace="common/base::menu_sop"></div>
			<div class="aba">
				<form class="pesquisar-form">
					<input type="text" placeholder="Buscar Usuário" class="pesquisar-input">
					<button class="pesquisar-botao"></button>
				</form>
				<div class="lista-div">
					<div class="item-div novo-usuario">
						Nova Turma
					</div>
					<div th:each="turma: ${turmas}" class="item-div">
						<span th:text="${turma.codigo}" class="turma"></span>
						<button class="historico-botao" onclick="abrirJanela('')"></button>
						<button class="editar-botao" onclick="abrirJanela('')"></button>
					</div>
				</div>
				<button class="botao-verde">Emitir Resultado</button>
			</div>
		</div>
	</div>
</body>
<script src="modules/menu.js"></script>
<script src="modules/abrirJanela.js"></script>
</html>