<header th:fragment="cabecalho_logado">
	<div class="menu-div">
		<button class="menu-botao" onclick="abrirMenu()"></button>
	</div>
	<div class="logo-div">
		<img src="images/vallytool-logo.png" alt="vallytool-logo" class="vallytool-logo">
		<h1 class="titulo-logo">VallyTool</h1>
	</div>
	<div class="botoes-div">
		<button class="tema-botao"></button>
		<form th:action="@{/logout}" method="post">
			<button type="submit" class="sair-botao"></button>
		</form>
	</div>
</header>

<div class="menu-extendido-div" id="menu-extendido-div" th:fragment="menu_prof">
	<div class="usuario-div">
		<div class="usuario-imagem-div">
			<img class="usuario-imagem" src="images/user-solid.svg" alt="usuario">
		</div>
		<div class="nome"><span sec:authentication="name">Sunda</span><br><span
				class="cargo">Professor</span></div>
		<hr>
	</div>
	<nav>
		<ul class="botoes-menu">
			<li><a href="/inicio"><span>Início</span></a></li>
			<li><a href="/avaliar"><span>Avaliar Turmas</span></a></li>
			<li><a href="/configuracoes"><span>Configurações</span></a></li>
		</ul>
	</nav>
</div>

<div class="menu-extendido-div" id="menu-extendido-div" th:fragment="menu_sop">
	<div class="usuario-div">
		<div class="usuario-imagem-div">
			<img class="usuario-imagem" src="images/user-solid.svg" alt="usuario">
		</div>
		<div class="nome"><span sec:authentication="name">Sunda</span><br><span class="cargo">SOP</span></div>
		<hr>
	</div>
	<nav>
		<ul class="botoes-menu">
			<li><a href="/inicio"><span>Usuários</span></a></li>
			<li><a href="/turmas"><span>Turmas</span></a></li>
			<li><a href="/configuracoes"><span>Configurações</span></a></li>
		</ul>
	</nav>
</div>