<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <style>
        body {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
    </style>
    <title>VallyTool</title>
</head>
<body>
    <header>
        <div class="header-intodrucao">
            <h1>Bem-Vindo</h1>
        </div>
        <div id="botoes-turmas">

        </div>
        <div class="header-rodape">
            <button>Sair</button>
            <img src="jk-logo" alt="">
            <span>&copy;VallyTool</span>
        </div>
    </header>
    <div class="avaliacao">
        <form action="" method="post">
            <select name="disciplina" id="disciplinas"></select>
            <div>
                <p>Aproveitamento</p>
                <label>Muito Bom</label>
                <input type="radio" name="Aproveitamento" class="muito-bom" value="MUITOBOM">
                <input type="radio" name="Aproveitamento" class="bom" value="BOM">
                <input type="radio" name="Aproveitamento" class="regular" value="REGULAR">
                <input type="radio" name="Aproveitamento" class="insuficiente" value="INSUFICIENTE">
                <input type="radio" name="Aproveitamento" class="pessimo" value="PESSIMO">
                <label>Péssimo</label>
            </div>

            <div>
                <p>Atitude</p>
                <label>Muito Bom</label>
                <input type="radio" name="Atitude" class="muito-bom" value="MUITOBOM">
                <input type="radio" name="Atitude" class="bom" value="BOM">
                <input type="radio" name="Atitude" class="regular" value="REGULAR">
                <input type="radio" name="Atitude" class="insuficiente" ivalue="INSUFICIENTE">
                <input type="radio" name="Atitude" class="pessimo" value="PESSIMO">
                <label>Péssimo</label>
            </div>

            <div>
                <p>Participação</p>
                <label>Muito Bom</label>
                <input type="radio" name="Participação" class="muito-bom" value="MUITOBOM">
                <input type="radio" name="Participação" class="bom" value="BOM">
                <input type="radio" name="Participação" class="regular" value="REGULAR">
                <input type="radio" name="Participação" class="insuficiente" value="INSUFICIENTE">
                <input type="radio" name="Participação" class="pessimo" ivalue="PESSIMO">
                <label>Péssimo</label>
            </div>

            <div>
                <p>Entrosamento</p>
                <label>Muito Bom</label>
                <input type="radio" name="Entrosamento" class="muito-bom" value="MUITOBOM">
                <input type="radio" name="Entrosamento" class="bom" value="BOM">
                <input type="radio" name="Entrosamento" class="regular" value="REGULAR">
                <input type="radio" name="Entrosamento" class="insuficiente" value="INSUFICIENTE">
                <input type="radio" name="Entrosamento" class="pessimo" value="PESSIMO">
                <label>Péssimo</label>
            </div>

            <div>
                <p>Frequência</p>
                <label>Muito Bom</label>
                <input type="radio" name="Frequencia" class="muito-bom" value="MUITOBOM">
                <input type="radio" name="Frequencia" class="bom" value="BOM">
                <input type="radio" name="Frequencia" class="regular" value="REGULAR">
                <input type="radio" name="Frequencia" class="insuficiente" value="INSUFICIENTE">
                <input type="radio" name="Frequencia" class="pessimo" value="PESSIMO">
                <label>Péssimo</label>
            </div>

            <div>
                <p>Relação Aluno/Professor</p>
                <label>Muito Bom</label>
                <input type="radio" name="Relação" class="muito-bom" value="MUITOBOM">
                <input type="radio" name="Relação" class="bom" value="BOM">
                <input type="radio" name="Relação" class="regular" value="REGULAR">
                <input type="radio" name="Relação" class="insuficiente" value="INSUFICIENTE">
                <input type="radio" name="Relação" class="pessimo" value="PESSIMO">
                <label>Péssimo</label>
            </div>

            <input type="submit" value="Salvar">
        </form>
    </div>
</body>
</html>