.aba {
    display: grid;
    grid-template-rows: max-content auto;
    justify-content: center;
    justify-items: center;
	text-align: center;
}

.aba-legenda {
	width: 100px;
	height: 2.3em;
	padding: 0 4px;
	background-color: #0C90F0;
	color: white;
	border-radius: 0 0 6px 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 300;
}
.mensagem-sem-turma {
	font-size: 24px;
	align-self: center;
}
.mensagem-sem-turma img {
	width: 256px;
}
.mensagem-sem-turma .mensagem {
	text-align: center;
	margin: auto;
	width: 80%;
}