.aba {
	position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
    justify-content: center;
    justify-items: center;
	text-align: center;
}

.aba-legenda {
	width: 100px;
	height: 2.3em;
	padding: 0 4px;
	background-color: #0C90F0;
	color: white;
	border-radius: 0 0 6px 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 300;
}
.mensagem-sem-turma {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	align-self: center;
}
.mensagem-sem-turma img {
	width: 256px;
}
.mensagem-sem-turma .mensagem {
	text-align: center;
	margin: auto;
	width: 80%;
}

.lista-turmas {
	margin: 60px 0;
	width: 70%;
	min-width: 240px;
	max-width: 360px;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-weight: 500;
}
.lista-turmas .item-div {
	background-color: #b0ddff;
	width: 100%;
	height: 2.5em;
	padding: 0 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	border-radius: 4px;
	cursor: pointer;
	transition: margin 0.5s;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}
.lista-turmas .item-div:hover {
	background-color: rgb(157, 197, 227);
	margin-left: 10px;
}
.lista-turmas .turma {
}
.lista-turmas .status {
	font-weight: 400;
	font-size: 14px;
}