.aba {
    display: grid;
    grid-template-rows: max-content max-content auto;
    padding: 15px 0;
    text-align: center;
}

.aba h1 {
	font-size: 24px;
	margin-bottom: 10px;
}

.avaliar-turma-botao {
	background-color: rgb(12, 144, 240);
	width: 140px;
	height: 40px;
	border: 1px solid rgb(209, 209, 209);
	border-radius: 4px;
	color: white;
	font-size: 15px;
	margin-top: 40px;
	cursor: pointer;
}

.avaliar-turma-botao:hover {
	background-color: rgb(11, 134, 221);
}